<a href="https://colab.research.google.com/github/winarsibidul03/psds_3.0/blob/main/M2P2V3_Konversi_Struktur_Data(Winarsi_J_Bidul_2000015011_PSDS_Kelas_Dasar).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NAMA : WINARSI J. BIDUL**

**NIM : 2000015011**

**KELAS DASAR**

#Konversi Struktur Data

Fungsi yang mengubah atau mengkonversi struktur data :

a. ```list()``` : Untuk mengubah menjadi List

b. ```tuple()``` : Untuk mengubah menjadi tuple

c. ```set()``` : Untuk mengubah menjadi set

d. ```dict()``` : Untuk mengubah menjadi dictionary

##Mengkonversi Tipe data list :

In [ ]:
#Membuat 2 List
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [ ]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

##Mengkonversi Tipe Data Tuple

In [ ]:
#Membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [ ]:
#Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))

#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

##Mengkonversi Tipe data Set

In [ ]:
#Membuat dua set
S1 = (1, 2, 3, 4)
S2 = (5, 6, 7, 8)

In [ ]:
#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(5, 6, 7, 8)
{1: 5, 2: 6, 3: 7, 4: 8}

##Mengkonversi Tipe Data List

In [ ]:
#Membuat Dictionary
D = {
    "nama": "Andi",
    "alamat": "Yogyakarta",
    "umur": 20
}

In [ ]:
# Mengkonversi Struktur data Dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'alamat', 'umur', 'nama'}

#Latihan 1

In [ ]:
#Lakukan konversi struktur data yang kalian buat pada notebook notebook
#sebelumnya menjadi list, tuple, set dan dictionary (masing masingm satu)

Mengkonversi Tipe data list

In [ ]:
#membuat list
A1 = [2, 4, 6, 8]
A2 = [1, 3, 5, 7]

#Mengkonversi struktur data list
k_tuple = tuple(A1)
k_set = set(A2)
k_dict = dict(zip(A1, A2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

Mengkonversi Tipe data Tuple

In [ ]:
#membuat Tuple
B1 = [2, 4, 6, 8]
B2 = [1, 3, 5, 7]

#Mengkonversi struktur data Tuple
k_tuple = tuple(B1)
k_set = set(B2)
k_dict = dict(zip(B1, B2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(2, 4, 6, 8)
{1, 3, 5, 7}
{2: 1, 4: 3, 6: 5, 8: 7}

Mengkonversi Tipe data Set

In [ ]:
#membuat Set
C1 = [2, 4, 6, 8]
C2 = [1, 3, 5, 7]

#Mengkonversi struktur data Set
k_tuple = tuple(C1)
k_set = set(C2)
k_dict = dict(zip(C1, C2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(2, 4, 6, 8)
{1, 3, 5, 7}
{2: 1, 4: 3, 6: 5, 8: 7}

Mengkonversi Tipe data dictionary

In [ ]:
#Membuat Dictionary
D = {
    "nama": "Asih",
    "alamat": "Sulteng",
    "umur": 19
}

In [ ]:
# Mengkonversi Struktur data Dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Asih', 'Sulteng', 19)
{'alamat', 'umur', 'nama'}